body {
    background-color: rgb(25, 24, 24);
}

header {
    height: 60vh;
}

header>section>div>img {
    height: 55vh;
    margin-top: 2vh;
    margin-left: 4vh;
}

header>section>div>h1 {
    font-size: 8vh;
    margin-top: 15vh;
    color: tomato;
}

.player {
    height: 30vh;
}



.select-player-name {
    height: 45vh;
    object-fit: cover;
}

.budget-sec {
    height: 70vh;
    object-fit: cover;
    background-color: black;
    margin-top: 2vh;
    margin-right: 5vh;
    margin-left: 5vh;
}

.selected-body {
    background-color: black;
    margin-top: 2vh;
    margin-right: 5vh;
    margin-left: 5vh;
    height: 50vh;
}

.table {
    color: white;
}