body {
    width: 100%;
    background-color: rgb(27, 24, 24);
    color: white;
    font-size: large;
}


#title {

    font-size: 8vh;
    margin-top: 15vh;
    color: tomato;
    /* font-size: x-large; */
}

.saint-germain-logo {
    height: 140px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.football-pic {
    height: 220px;
    width: 320px;
}

.card-section img {
    width: auto;
    height: 220px;
}