body {
    background-color: black;
    color: white;
    font-size: large;
}

#title {
    color: chocolate;
    /* font-size: x-large; */
}

.card-section img {
    width: auto;
    height: 220px;
}